<!DOCTYPE html>
<title>Venmo → Slack integration</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-blue.min.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script defer src="https://getmdl.io/assets/snippets.js"></script>
<style>
  .mdl-layout__header-row {
    padding: 0 40px;
  }

  .mdl-layout.has-drawer .mdl-layout__header-row {
    padding: 0 40px 0 80px;
  }
  .page-content {
    padding: 1em 3em;
  }
  .footer {
    font-style: italic;
  }
  code {
    display: block;
    background-color: #eee;
    padding: 1em 2em;
  }

  hr {
    margin-top: 3em;
    margin-bottom: 1ex;
  }
  .snippet-code {
    position: relative
  }
  .snippet-code code:hover::before {
    display: inline-block;
    content: 'click to copy';
    color: rgba(0,0,0,.5);
    font-size: 13px;
    background-color: rgba(0,0,0,.1);
    border-top-left-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3px 10px
  }
  .snippet-code code.copied::before {
    content: 'copied';
    color: rgba(255,255,255,.5);
    background-color: rgba(0,0,0,.6)
  }

  .snippet-code code.nosupport::before {
    content: "browser not supported :'(";
    color: rgba(255,255,255,.5);
    background-color: rgba(0,0,0,.6)
  }
</style>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"> Venmo → Slack Integration </span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        {{if .Email}}
          <span class="mdl-layout--large-screen-only">
            <div style="margin-right: 1em">Signed in as <b>{{.Email}}</b></div>
            <div class="mdl-layout-spacer"></div>
          </span>
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{{.Logout}}">Sign out</a>
        {{else}}
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{{.Login}}">Sign in to configure</a>
        {{end}}
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content mdl-color-text--grey-600">
  <div class="page-content">

    {{if .Email}}
      {{if .IsAdmin}}

      <h4>Configure Slack Webhook</h4>

      <p><a href="https://my.slack.com/services/new/incoming-webhook/">Set up
        a Slack Incoming Webhook</a> for your team.  Enter the URL for your Webhook below.</p>

      <form method="post">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%">
              <input class="mdl-textfield__input" type="url" name="slackHook" id="slackHook" value="{{.Config.SlackHook}}">
              <label class="mdl-textfield__label" for="slackHook">Slack Incoming Webhook URL</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone" style="text-align: right">
            <input type="submit" id="action_save" name="action" value="Save" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          </div>
        </div>
      </form>

      <h4>Configure Venmo Webhook</h4>

      <p>This integration receives events from Venmo at the URL below.  It has a random
      component to it so that people can't discover your integration and spam Slack with
      fake notifications.  You can regenerate this URL at any time, but will need to
      update Venmo when you do so.</p>

      <p>To start receiving notifications:</p>

      <ol>
        <li><a href="https://venmo.com/">Sign in to your Venmo account</a>
          <li>Visit your account's <a href="https://venmo.com/account/settings/developer">Developer Settings</a>
            <li>For Venmo Webhook URL, enter the URL below
      </ol>

      <form method="post">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--4-col-phone snippet-code">
            <code class="language-markup" id="keyedUrl">venmo-hook/{{.Config.AccessKey}}</code>
          </div>
          <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone" style="text-align: right">
            <input type="submit" name="action" value="Regenerate" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          </div>
        </div>
      </form>

      <h4>Recent Events</h4>

      {{if .History}}
        <ul>
          {{range .History}}
            <li>{{.}}</li>
          {{end}}
        </ul>
      {{else}}
        <p>No messages have been recorded yet.</p>
      {{end}}

    {{else}}
      <p>You are signed in as <b>{{.Email}}</b>, which is not an admin account.  Check
      the <tt>ADMIN</tt> environment variable configuration for this instance to be
      sure that it matches your sign-in account, and try again.
    {{end}}

  {{else}}
    <p>Please <a href="{{.Login}}">sign in as an admin</a> to configure this instance.</p>
  {{end}}

  <hr>

  <div class="footer"><a href="https://github.com/dnesting/venmoslack">https://github.com/dnesting/venmoslack</a> {{.Version}}</div>

  <div id="toast" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>

  </div>
  </main>
</div>

<script language="javascript">
function deferred() {
  {{if .Message}}
    var snackbarContainer = document.querySelector('#toast');
    var data = {message: "{{.Message}}"};
    snackbarContainer.MaterialSnackbar.showSnackbar(data);
  {{end}}

  var k = document.getElementById("keyedUrl");
  k.innerText = document.URL + k.innerText;
}
var orig = window.onload;
window.onload = function() {
  if (orig != null) {
    orig();
  }
  deferred();
};
</script>
