<!DOCTYPE html>
<title>Venmo → Slack integration</title>
<h1>Venmo → Slack Integration</h1>
<style>
  body {
	  font-family: sans-serif;
	  padding: 0 2em;
  }
  h1, h2, h3 {
	  font-weight: normal;
  }
  h3 {
	  margin-top: 2em;
	  border-bottom: solid 1px #aaa;
  }
  pre, p, form {
	  margin-left: 1em;
  }
  pre {
	  background-color: #eee;
	  border: solid 1px #888;
	  padding: 1em;
  }
  input {
	  min-width: 50em;
	  padding: 1ex;
  }
  h3.done {
	  color: #484;
  }
  h3.done:after {
	  content: " (done)";
  }
  .prob {
	  background-color: #fee;
	  border: solid 1px #f88;
	  padding: 1em;
	  color: red;
  }
</style>

<p>This implements a webhook, reporting Venmo transactions to Slack.
For details, see: <a href="https://github.com/dnesting/venmoslack">https://github.com/dnesting/venmoslack</a>.

<h2>Configuration</h2>

{{if .Error}}
	<p class="prob">{{.Error}}</p>
{{end}}

<h3 {{if .IsAdmin}}class="done"{{end}}>Step 1: Log in as the <tt>ADMIN</tt> user</h3>
<p>
{{if .Email}}
	You are logged in as <i>{{.Email}}</i>,

	{{if .IsAdmin}}
		which is an admin user.
	{{else}}
		but this is <span class="prob">NOT an admin user.</span>
		Check the value of the <tt>ADMIN</tt> environment
		variable defined for this application and make sure that
		it matches.
	{{end}}
	<a href="{{.Logout}}">Logout</a> if you'd like to try another user.
{{else}}
	<b><a href="{{.Login}}">Log in as an admin user</a></b>.
{{end}}

<h3 {{if .Config.SlackHook}}class="done"{{end}}>Step 2: Set up a Slack Webhook</h3>
<p>
{{if .Config.SlackHook}}
A <a href="https://api.slack.com/incoming-webhooks">Slack Incoming Webhook</a> is
configured.
{{else}}
<b>Create a <a href="https://api.slack.com/incoming-webhooks">Slack Incoming Webhook</a></b>
and configure it here.
{{end}}
We will attempt to deliver messages to this webhook.

{{if .IsAdmin}}
    <form method="post">
        <div>Slack Hook URL:
	  	<input type="text" name="slackHook" value="{{.Config.SlackHook}}">
		<input type="submit" name="action" value="Save">
        </div>
    </form>

{{else}}
  You'll need to be signed in as an admin to make changes.
{{end}}

<h3 {{if .Config.AccessKey}}class="done"{{end}}>Step 3: Create a Venmo Webhook URL</h3>
<p>
Venmo Webhook URLs are randomly generated, so that people can't discover them and spam
Slack with fake Venmo requests.
{{if .Config.AccessKey}}
	A URL is configured.
	{{if .IsAdmin}}
		You may regenerate it at any time in the event it's been compromised.
		This will invalidate the old URL and will require you to
		repeat the next step.
	{{else}}
		Sign in as an admin if you need to regenerate it.
	{{end}}
{{else}}
	{{if .IsAdmin}}
		No URL has been generated yet. Generate one now.
	{{else}}
		No URL has been generated yet, but you'll need to sign in as an admin to generate one.
	{{end}}
{{end}}

{{if .IsAdmin}}
    <form method="post">
	<input type="submit" name="action" value="Generate URL">
    </form>

    {{if .Config.AccessKey}}
	<pre id="keyedUrl">venmo-hook/{{.Config.AccessKey}}</pre>

	<!-- XXX: Ideally, we'd do this on the server side, but cursory Google searching
             doesn't tell me how to do this, so I'll just use Javascript. -->
	<script>
	  var k = document.getElementById("keyedUrl")
	  k.innerHTML = document.URL + k.innerHTML
	</script>
    {{end}}
{{end}}

<h3>Step 4: Set up a Venmo Webhook</h3>
<p>Sign in to your <a href="https://venmo.com">Venmo</a> account and
<a href="https://venmo.com/account/settings/developer">configure a Webhook URL</a>
pointing to the URL above.  {{if not .IsAdmin}}(You'll need to be signed in
here as an admin to see it.){{end}}</p>
