{{if eq .Venmo.Type "payment.created" -}}
	{{if eq .Venmo.Data.Action "charge" -}}
		{{.Venmo.Data.Actor.DisplayName}} (@{{.Venmo.Data.Actor.Username}}) requests *${{.Venmo.Data.Amount}}* from {{.Venmo.Data.Target.User.DisplayName}} (@{{.Venmo.Data.Target.User.Username}}).
> {{.Venmo.Data.Note}}
{{if .Group}}Managers can accept this request at https://groups.venmo.com/.{{end -}}
	{{- else -}}
		{{.Venmo.Data.Actor.DisplayName}} (@{{.Venmo.Data.Actor.Username}}) paid *${{.Venmo.Data.Amount}}* to {{.Venmo.Data.Target.User.DisplayName}} (@{{.Venmo.Data.Target.User.Username}}).
> {{.Venmo.Data.Note}}
	{{- end -}}
{{- else -}}
	The {{if eq .Venmo.Data.Action "charge"}}request from{{else}}payment to{{end}} {{.Venmo.Data.Actor.DisplayName}} (@{{.Venmo.Data.Actor.Username}}) of *${{.Venmo.Data.Amount}}*
	{{- if eq .Venmo.Data.Status "settled"}} was approved.
	{{- else if eq .Venmo.Data.Status "cancelled"}} was cancelled.
	{{- else if eq .Venmo.Data.Status "expired"}} expired without being accepted.
	{{- else if eq .Venmo.Data.Status "failed"}} failed.
	{{- else if eq .Venmo.Data.Status "pending"}} is pending.
	{{- else }} is unknown.
{{- end}}
{{- end}}
	
